/*iframe响应式高度*/
@media screen and (min-width: 992px){
    .my_header{height:5rem;}
}
@media screen and (max-width: 768px){
    .my_header{height:11rem;}
}
    /*1.header：网页头部-*/
.header .top-int{
    width:100%;
    border:1px solid #F47115;
    border-radius: 3px;
    outline: 0;
    padding: 5px;

}
.top-int-cart{
    position:relative;
}
.top-int-cart>img{
    position: absolute;
    top:30%;
    left:85%;
}
.shop_cart_div{
    width: 3rem;height:2.5rem;
    line-height: 2.5rem;
    text-align: center;
    background-color: #9B1F20;
    border-radius: 5px 0 0 5px;
}
.shop_cart_div>img{
    width:60%;
}
.shop_cart_txt{
    width: 6.8rem;height:2.5rem;
    line-height: 2.5rem;
    text-align: center;
    font-size:0.57rem;
    font-weight: bold;
    color:#fff;
    background-color: #DE2C2E;
    border-radius: 0 5px 5px 0;
}
/*2.折叠导航栏*/
a.navbar-brand.text-white{
    font-size:1rem;
}
.navbar.navbar-expand-md a{
    width:100px;height:50px;
    line-height: 50px;
    text-align: center;
}
.navbar.navbar-expand-md a:hover{
    background-color: rgba(255,255,255,.3);
}
/*3.焦点轮播图*/
/*轮播图：左右按钮样式*/
.carousel-control-prev,.carousel-control-next{
    width:4%;height:20%;
    background: #aaa;
    border-radius: 0.25rem;
    top:40%;
}
/*轮播指示器*/
.carousel-indicators li{
    width: 0.75rem;
    height: 0.75rem;
    background: #fff;
    border-radius: 50%;
    margin:0 4px;
}
.carousel-indicators .active {
    background-color: #FF8800;
}
/*四张广告图*/
.my-width{
    margin:0 auto;
    width:60rem;
}
/*鼠标悬停时的透明背景*/
.img-hover{
    width:90%;height:100%;
    background: rgba(0,0,0,0);
    top:0;
    left:0;
}
.img-hover:hover{
    background: rgba(0,0,0,.6);
    left:5%;
}
/*海鲜水产：左图片高度*/
.my-height{height:300px!important;}
/*海鲜水产：12图*/
a:hover{
    text-decoration: none;
}
.my-font{
    font-size: 12px;
}

